<!DOCTYPE html>
<html lang="en">
<head>
<title>Page Title</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

<div class="header">
  <h1>เว็บไซต์แสดงข้อมูลพยากรอากาศของ 7 Eleven</h1>
  <p>Created by Group 2.</p>
</div>

<div class="input-group">
    <input type="search" class="form-control rounded" placeholder="Latitude" aria-label="Search" aria-describedby="search-addon" style="margin-right:10px"/>
    <input type="search" class="form-control rounded" placeholder="Longitude" aria-label="Search" aria-describedby="search-addon" />
    <button type="button" class="btn btn-primary">search</button>
</div>



<div class="row">
  <div class="side1">
    <p>รหัสร้าน = </p><br>
    <p>ชื่อร้าน = </p><br>
    <p>latitude = </p><br>
    <p>longitude = </p>
  </div>
</div>

<div class="return" style="margin-right: 50px;">
  <a routerLink="/"type="button" class="btn btn-primary" style="margin-left: 20px;">ย้อนกลับ</a>
</div>

</body>
</html>



