<!DOCTYPE html>
<html lang="en">
<head>
<title>Page Title</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

<div class="header">
  <h1>เว็บไซต์แสดงข้อมูลพยากรอากาศของ 7 Eleven</h1>
  <p>Created by Group 2.</p>
</div>

<div class="row">
  <div class="side">
    <p style="font-size: 20px">ค้นหาด้วย รหัสร้าน หรือ Store ID</p>
    <a routerLink="/id" type="button" class="btn btn-primary" style="margin-bottom: 20px;" >เข้าสู่หน้าค้นหา</a>
    <p style="font-size: 20px">ค้นหาด้วย Latitude Longitude</p>
    <a routerLink="/latlong" type="button" class="btn btn-primary">เข้าสู่หน้าค้นหา</a>
  </div>
  <div class="main">
      <div class="slider">
        <span id="slide-1"></span>
        <span id="slide-2"></span>
        <div class="image-container">
          <img src="https://i.postimg.cc/25CmDqbN/1.png" class="slide" width="800" height="400" />
          <img src="https://i.postimg.cc/43wGNJV7/2.png" class="slide" width="800" height="400" />
        </div>
        <div class="buttons">
          <a href="#slide-1" style="margin-right: 5px;"></a>
          <a href="#slide-2"></a>
        </div>
      </div>
  </div>
</div>

</body>
</html>

<div class="footer"></div>

